.levelWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

  .parentWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .node {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1em;
      background-color: var(--component-background);
      border: 1px solid var(--component-border);
      max-width: 300px;
      max-height: 65px;
      width: auto;
      border-radius: 5px;
      margin-bottom: 50px;
      position: relative;

      h3 {
        text-align: center;
        width: 150px;
      }

      .node__details {
        display: flex;
        align-items: center;
        padding-left: 2em;
        background-color: var(--component-background);

        .node__btn {
          background: none;
          width: auto;
          padding-right: 0;

          svg {
            width: 20px;
            height: 20px;

            path {
              fill: black;

              &:hover {
                fill: var(--component-border);
              }
            }
          }
        }
      }

      .node__info {
        position: absolute;
        left: 99%;
        top: 20%;
        width: 100%;
        max-width: 300px;
        background-color: var(--background);
        box-shadow: 0 0 10px var(--background-blur);
        padding: 1em;
        border-radius: 5px;
        color: var(--text-primary);
        z-index: 3;

        &::before {
          content: '';
          position: absolute;
          top: 10px;
          left: -14px;
          z-index: 10;
          width: 0;
          height: 0;
          border-top: 8px solid transparent;
          border-right: 16px solid var(--background);
          border-bottom: 8px solid transparent;
        }

        h4 {
          font-size: 1.3rem;
          color: var(--text-primary);
          position: relative;
          z-index: 4;

          &::after {
            content: '';
            position: absolute;
            top: 65%;
            left: 10px;
            width: 42px;
            height: 5px;
            background: var(--component-background);
            z-index: -1;
          }
        }

        &__details {
          span {
            color: var(--text-primary);
          }

          span:first-of-type {
            font-weight: bold;
            font-size: 1.1rem;
          }

          span:last-of-type {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
