.levelWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

  .parentWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .node {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1em;
      background-color: var(--component-background);
      border: 1px solid var(--component-border);
      max-width: 300px;
      max-height: 65px;
      width: auto;
      border-radius: 5px;
      margin-bottom: 50px;
      position: relative;

      h3 {
        text-align: center;
        width: 150px;
      }

      .node__details {
        display: flex;
        align-items: center;
        padding-left: 2em;
        background-color: var(--component-background);

        .node__btn {
          background: none;
          width: auto;
          padding-right: 0;

          svg {
            width: 20px;
            height: 20px;

            path {
              fill: black;

              &:hover {
                fill: var(--component-border);
              }
            }
          }
        }
      }

      .node__info {
        position: absolute;
        left: 105%;
        width: 100px;
        background-color: pink;
      }
    }
  }
}
