.formContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-blur);
  z-index: 4;

  &__wrapper {
    max-width: 430px;
    width: 100%;
    background: var(--form-background);
    padding: 2em;
    border-radius: 8px;
  }

  .btn__form {
    width: auto;
    background: var(--form-button);
    color: var(--text-secondary);
  }
}
